/*header头部nav的icon动画*/
.nav li:hover i.nav_icon{
	-webkit-animation:nav_animation 1s ease-in-out forwards;
	-moz-animation:nav_animation 1s ease-in-out forwards;
	animation:nav_animation 1s ease-in-out forwards;
	border-top:1px solid rgb(53, 181, 88);
	border-left:1px solid rgb(53,181,88);
}
@-webkit-keyframes nav_animation{
	0%{
		-webkit-transform:rotate(-135deg);
		transform:rotate(-135deg);
	}
	75%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	95%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(45deg);
		transform:rotate(45deg);		
	}
}
@-moz-keyframes nav_animation{
	0%{
		-moz-transform:rotate(-135deg);
		transform:rotate(-135deg);
	}
	75%{
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	95%{
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%{
		-moz-transform:rotate(45deg);
		transform:rotate(45deg);		
	}
}
@keyframes nav_animation{
	0%{
		transform:rotate(-135deg);
	}
	75%{
		transform:rotate(0deg);
	}
	95%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(45deg);		
	}
}
