/*reset*/
body,div,ul,li,dl,dd,a,p,h2,span{
	margin:0;
	padding:0;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-family:Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",
	Helvetica,arial,\5b8b\4f53,sans-serif;
}
body{
	font-family:Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",
	Helvetica,arial,\5b8b\4f53,sans-serif;
	background-color:#f7f7f7;
}
a{
	text-decoration:none;
}
ul,li{
	list-style:none;
}
li{
	cursor:pointer;
}
img{
	border:0;
}
.clear{
	clear:both;
}

/*header开始*/
.header{
	width:100%;
	height:60px;
	border-bottom:1px solid #ececec;
	background-color:#fff;
}
.inner_header{
	width:1000px;
	height:60px;
	margin:0 auto;
	line-height:60px;
}
.inner_header div,.inner_header ul,.inner_header li{
	display:inline-block;
}
/*logo样式*/
.logo{
	width:109px;
	height:60px;
	float:left;
	margin-right:60px;
}
.logo img{
	width:109px;
	height:40px;
	margin-top:10px;
}
/*nav菜单样式*/
.nav{
	height:60px;
	float:left;
}
.nav li{
	float:left;
	font-size:14px;
	margin-right:50px;
	height:60px;
	position:relative;
}
.nav li i{
	margin-left:5px;
	display:inline-block;
}
.nav li .nav_icon{
	width:8px;
	height:8px;
	border-top:1px solid #c1c1c1;
	border-left:1px solid #c1c1c1;
	transform-origin:center center;
	-webkit-transform:rotate(-135deg);
	-moz-transform:rotate(-135deg);
	transform:rotate(-135deg);
	margin-left:5px;
	margin-bottom:2px;
}
.nav .home a{
	color:rgb(53, 181, 88);
}
/*nave的2级页面*/
.nav li:hover{
	color:rgb(53, 181, 88);
}
.nav li div.nav_second{
	display:none;
	position:absolute;
	top:60px;
	left:0;
	z-index:100;
	background-color:#fff;
	font-size:12px;
	color:#666;
	width:280px;
}
.nav li div.nav_second a{
	color:#666;
	display:block;
	height:30px;
	line-height:30px;
	vertical-align:middle;
	padding:0 15px;
}
.nav li div.nav_second h3{
	margin:10px 0;
	padding:0 15px;
	background-color:#fafafa;
	height:28px;
	line-height:28px;
	font-weight:300;
}
.nav li div.nav_second a:hover{
	color:rgb(53, 181, 88);	
}
/*职业学院2级页面*/
.nav li.school:hover .school_list{
	display:block;
}
.nav .school .school_list a{
	color:#333;
}
.nav .school .school_list a i{
	background:url(../images/nav_icon.png) no-repeat;
	background-size:16px 148px;
	width:14px;
	height:14px;
	margin-right:10px;
	vertical-align:middle;
}
.nav .school .school_list a i.web_icon{
	background:url(../images/web_icon.png) no-repeat;
	background-size:64px 64px;
	background-position:-15px -26px;
}
.nav .school .school_list a i.android_icon{
	background-position:-2px -60px;
}
.nav .school .school_list a i.python_icon{
	background-position:-2px -2px;
}
.nav .school .school_list a i.go_icon{
	background-position:-2px -38px;
}
.nav .school .school_list a i.ios_icon{
	background-position:-2px -82px;
}
/*会员课程2级页面*/
.nav .vip:hover .vip_list{
	display:block;
}
.nav .vip .vip_list{
	padding:10px 0;
}
.nav .vip .vip_list a{
	height:40px;
	line-height:40px;
}
.nav .vip .vip_list a i{
	background:url(../images/web_icon.png) no-repeat;
	background-size:64px 64px;
	width:14px;
	height:14px;
	margin-right:10px;
	vertical-align:middle;
}
.nav .vip .vip_list a i.kck_icon{
	background-position:0 -13px;
}
.nav .vip .vip_list a i.zyljt_icon{
	background-position:-45px 0;
}
.nav .vip .vip_list a i.zstxk_icon{
	background-position:-30px -13px;
}
.nav .vip .vip_list a i.xlkc_icon{
	background:url(../images/xlkc_icon.png) no-repeat;
	background-size:12px 12px;
}
.nav .vip .vip_list a i.kcbq_icon{
	background-position:-15px -13px;
}
.nav .vip .vip_list a i.vip_icon{
	background-position:-16px 0;
}
.nav .vip .vip_list a:last-child{
	padding-bottom:10px;
}
.nav .vip .vip_list a:hover{
	background-color:#f7f7f7;
}
.nav .vip .vip_list a span{
	color:#bbb;
	float:right;
}
.nav .vip:hover span{
	color:#bbb;
}
/*极客社区2级页面*/
.nav .jike:hover .jike_list{
	display:block;
}
.nav .jike .jike_list{
	padding:10px 0;
}
.nav .jike .jike_list a{
	height:40px;
	line-height:40px;
}
.nav .jike .jike_list a:last-child{
	padding-bottom:10px;
}
.nav .jike .jike_list a i{
	background:url(../images/web_icon.png) no-repeat;
	background-size:64px 64px;
	width:14px;
	height:14px;
	margin-right:10px;
	vertical-align:middle;
}
.nav .jike .jike_list a i.jswd_icon{
	background-position:0 -27px;
}
.nav .jike .jike_list a i.wiki_icon{
	background-position:-29px -27px;
}
.nav .jike .jike_list a i.sq_icon{
	background-position:0 2px;
}
.nav .jike .jike_list a i.zyxz_icon{
	background-position:-30px 0;
}
.nav .jike .jike_list a span{
	color:#bbb;
	float:right;
}
.nav .jike:hover span{
	color:#bbb;
}
.nav .jike .jike_list a:hover{
	background:#f7f7f7;
}

/*icon_box右边栏界面样式*/
.icon_box{
	width:200px;
	height:60px;
	margin-right:10px;
	float:right;
	text-align:right;
}
.icon_box li{
	width:17px;
	height:60px;
	margin-left:25px;
	position:relative;
}
.icon_box .search{
	background:url(../images/search.png) no-repeat;
	background-size:17px;
	background-position:left center;
}
.icon_box .search:hover{
	background:url(../images/search2.png) no-repeat;
	background-size:17px;
	background-position:left center;
}
.icon_box .app{
	background:url(../images/app.png) no-repeat;
	background-size:17px;
	background-position:left center;
}
.icon_box .app:hover{
	background:url(../images/app2.png) no-repeat;
	background-size:17px;
	background-position:left center;
}
.icon_box .login{
	background:url(../images/login.png) no-repeat;
	background-size:17px;
	background-position:left center;
}
/*icon_box右边栏2级页面*/
.icon_box li div{
	position:absolute;
	top:60px;
	background-color:#fff;
	z-index:100;
	display:none;
}
.icon_box li div i.triangel{
	display:block;
	position:absolute;
	top:-8px;
	width:15px;
	height:15px;
	border-top: 1px solid #ececec;
	border-left: 1px solid #ececec;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
	transform-origin:center center;
	background-color:#fff;
}
/*手机图片2级界面*/
.icon_box .app:hover div.app_list{
	display:block;
}
.icon_box li div.app_list{
	right:-50px;
	width:120px;
	height:140px;
}
.icon_box li div.app_list i.triangel{
	right:50px;
}
.icon_box li div.app_list img{
	width:100%;
}
/*登入2级界面*/
.icon_box li.login:hover div.login_list{
	display:block;
}
.icon_box li div.login_list{
	right:0;
	width:120px;
	padding:10px 0;
}
.icon_box li div.login_list i.triangel{
	right:10px;
}
.icon_box li div.login_list dd{
	text-align:left;
	padding-left:10px;
	font-size:12px;
	line-height:35px;
}
.icon_box li div.login_list dd a i{
	display:inline-block;
	width:12px;
	height:12px;
	background:url(../images/icon_box.png) no-repeat;
	background-size:64px 64px;
	margin-right:10px;
	vertical-align:middle;
}
.icon_box li div.login_list dd a i.xxzx_icon{
	background-position:-16px -15px;
}
.icon_box li div.login_list dd a i.grzy_icon{
	background-position:-45px -1px;
}
.icon_box li div.login_list dd a i.xxtz_icon{
	background-position:-16px -30px;
}
.icon_box li div.login_list dd a i.zhsz_icon{
	background-position:-30px -1px;
}
.icon_box li div.login_list dd a{
	color:#666;
}
.icon_box li div.login_list dd:hover{
	background:#f7f7f7;		
}
.icon_box li div.login_list dd:hover a.a{
	color:rgb(53, 181, 88);	
}
.icon_box li div.login_list dd a.login_btn{
	display:inline-block;
	width:45%;
	text-align:center;
}
.icon_box li div.login_list dd a.login_btn:hover{
	color:rgb(53, 181, 88);		
}

/*header结束*/


/*footer开始*/
.footer{
	width:100%;
	border-top:1px solid #e4e4e4;
	background-color:#fff;
	margin-top:50px;
}
/*页脚上部分*/
.footer .top{
	width:1000px;
	height:215px;
	margin:0 auto;
}
/*上部分左边样式*/
.footer .top .left{
	width:160px;
	height:78px;
	float:left;
	margin:25px 64px 0 0;
	background:url(../images/footer.png) no-repeat;
	background-size:109px 40px;
	padding-top:60px;
}
.footer .top .left p{
	font-size:12px;
	color:#999;
}
/*上部分中间内容样式*/
.footer .top .message{
	width:135px;
	margin-top:25px;
	color:#808080;
	float:left;
	text-align:left;
}
.footer .top .message p{
	font-size:14px;
	line-height:30px;
}
.footer .top .message a{
	display:block;
	font-size:12px;
	line-height:30px;
	color:#808080;
}
.footer .top .message a:hover{
	color:#35b558;
}
/*上部分右边样式*/
.footer .top .right{
width: 175px;
margin-top:25px;
float:right;
text-align:left;
}
.footer .top .right .number{
	color:#808080;
	font-size:14px;
	line-height:21px;
	margin-bottom:20px;
}
.footer .top .right .inner{
	position:relative;
	width:140px;
	height:30px;
	border:1px solid #eeeeee;
	margin-bottom:10px;
	line-height:30px;
	color:#808080;
	font-size:13px;
	padding-left:40px;
	cursor:pointer;
}
.footer .top .right .iphone{
	background:url(../images/iphone.png) no-repeat;
	background-size:30px 30px;
}
.footer .top .right .android{
	background:url(../images/android.png) no-repeat;
	background-size:30px 30px;
}
.footer .top .right .inner:hover .list{
	display:block;
}
.footer .top .right .inner .list{
	display:none;
	width:115px;
	height:153px;
	border:1px solid #e4e4e4;
	background-color:#fff;
	position:absolute;
	top:-165px;
	left:12px;	
	z-index:2;
}
.footer .top .right .inner .list i{
	display:block;
	height:16px;
	width:16px;
	background:#fff;
	border-top:1px solid #e4e4e4;
	border-left:1px solid #e4e4e4;
	transform-origin:center center;
	-webkit-transform:rotate(-135deg);
	-moz-transform:rotate(-135deg);
	transform:rotate(-135deg);
	position:absolute;
	left:50px;
	bottom:-10px;
}
.footer .top .right .inner .list img{
	width:115px;
	height:152px;
	margin-top:-1px;
}
/*页脚下部分样式*/
.footer .bottom{
	font-size:12px;
	color:#999;
	margin:0 auto;
	width:1000px;
	text-align:center;
	border-top:1px solid #e4e4e4;
	padding:15px 0;
	position:relative;
}
.footer .bottom a.weixin{
	display:block;
	height:15px;
	width:20px;
	background: url(../images/footer1.png)no-repeat 0 0;
	background-size:18px 15px;
	position:absolute;
	top:16px;
	right:0;
}
.footer .bottom a.weibo{
	display:block;
	height:15px;
	width:20px;
	margin-right:10px;
	background:url(../images/footer2.png)no-repeat 0 0;
	background-size:20px 15px;
	position:absolute;
	top:16px;
	right:20px;
}
.footer .bottom a.xinyu{
	display:block;
	width:60px;
	height:22px;
	margin:15px auto 20px auto;
	background:url(../images/footer3.png) no-repeat;
	background-size:60px 22px;
}
/*footer结束*/