/*reset*/
body,div,a,span,em,img,p,ul,li,input,form{
	padding:0;
	margin:0;
}
ul,li{
	list-style:none;
}
a{
	text-decoration:none;
	outline:none;
	cursor:pointer;
}
em{
	font-style:normal;
}
img{
	border:0;
}

/*整体布局*/
body{
	cursor:default;
	text-align:center;
	color:#000;
	position:relative;
	z-index:0;
	font:12px arial;
}
.wrapper{
	height:100%;
	margin:0 auto;
	min-width:1000px !important;
	max-width:1400px !important;
	overflow:hidden;
	background-color:green;
	position:relative;
}
.container{
	min-height:702px;
	position:fixed;
	width:100%;
	height:100%;
}
.clear:after{
	content:"";
	display:block;
	clear:both;
}
.hidden{
	display:none;/*2级页面*/
}
.skin-bg-opacity{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-image:linear-gradient(rgba(255, 255, 255, .65) 0,
		rgba(255, 255, 255,.55) 100%);
	background-image:-webkit-linear-gradient(rgba(255, 255, 255, .65) 0,
	 rgba(255, 255, 255,.55) 100%);
}
.bg-opacity{
	background:rgba(255, 255, 255, .15);
}
.section-visible{
	display:block !important;
}
.article-wait{
	width:95%;
	height:53px;
	padding-top:11px;
	margin:0 auto;
	font-size:14px;
	display:none;
}
.article-wait p{
	margin-left:10px;
	color:#333;	
}
.tab-btn-hover{
	background:none !important;
	opacity:0.7 !important;
}
.tab-btn-click{
	background:none !important;
	opacity:0.7 !important;
}
.skin-btn-hover{
	background-color:#389cff;
	color:#fff !important;
}
.skin-btn-click{
	background-color:#389cff;
	color:#fff !important;
}
.skin-content-visible{
	display:block !important;
}
/*头部样式*/
.header{
	border:none;
	background-color:rgba(15,25,50,0.3);
	height:32px;
	width:100%;
	position:absolute;
	z-index:20;
}

/*左边功能样式*/
.menu{
	position:absolute;
	left:0;
	top:0;
	height:32px;
	padding-left:15px;
	z-index:10;
}

/*天气部分*/
.weather{
	float:left;
	height:25px;
	margin:7px 0 0 15px;
	line-height:20px;
}
/*可见部分*/
a{
	display:block;
	color:#adacac;
	white-space:nowrap;
}
.show-weather,.show-pollution{
	float:left;
	height:20px;
	vertical-align:bottom;
}
.show-weather span{
	vertical-align:bottom;
	height:20px;
	display:inline-block;
}
.weather em{
	color:#fff;
	vertical-align:top;
	line-height:20px;
}
.show-icon{
	margin-right:9px;
}
.show-weather-icon{
	display:inline-block;
	width:18px;
	height:18px;
	vertical-align:middle;
	margin-right:5px;
	background:url(../img/weather1.png?__sprite) no-repeat;
}
.pollution-name{
	color:#38f !important;
	font-weight:bold;
	margin-right:7px;
}
.pollution-num{
	margin-right:7px;
}
.weather-vertical-line{
	margin-right:11px;
}
/*天气2级页面*/
.weather-hidden{
	position:absolute;
	top:32px;
	left:0;
	width:585px;
	z-index:200;
}
.weather-content{
	background-color:#fff;
	box-shadow:1px 2px 1px 0 rgba(0,0,0,0.072);
	-webkit-box-shadow:1px 2px 1px 0 rgba(0,0,0,0.072);
	height:201px;
}
.weather-lunar{
	width:547px;
	height:40px;
	margin:0 19px;
	border-bottom:#efefef 1px solid;
}
.weather-lunar span{
	display:inline-block;
	height:40px;
	line-height:40px;
	text-align:left;
	float:left;
}
.lunar-calendar{
	color:#666;
}
.lunar-festival{
	color:#999;
	margin-left:6px;
}
.lunar-sevenday{
	margin-left:18px;
}
.lunar-sevenday a{
	color:#0079f4;
}
.weather-lunar .lunar-setting-btn{
	width:40px;
	float:right;
	color:#666;
	cursor:pointer;
	text-align:right;
	line-height:40px;
	background:url(../img/weather-setting.png?__sprite) no-repeat -36px -89px;
}
.weather-everyday div{
	overflow:hidden;
	float:left;
	width:105px;
}
.weather-everyday div p{
	text-align:center;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	color:#666;
}
.weather-everyday .everyday-title{
	height:34px;
	line-height:34px;
	width:100%;
}
.weather-everyday .everyday-temp,.weather-everyday .everyday-condition,
.weather-everyday .everyday-wind{
	height:18px;
	line-height:18px;
}
.weather-everyday div img{
	width:48px;
	height:48px;
	margin:0 auto 4px;
}
.weather-everyday div:first-child{
	width:161px;
}
.weather-everyday div:first-child p{
	font-weight:bold;
}
.weather-triangel{
	width:0;
	height:0;
	border:6px solid transparent;
	border-bottom-color:#fff;
	position:absolute;
	top:-11px;
	left:90px;
	z-index:500;
}
/*天气部分结束*/

/*左边图标部分*/
.icon-button{
	float:left;
}
.icon-button a{
	color:#fff;
	text-decoration:underline;
	display:inline-block;
	height:32px;
	line-height:32px;
	position:relative;
	margin-right:19px;	
}
/*头部左边部分结束*/

/*头部右边菜单栏部分*/
.nav{
	position:absolute;
	top:0;
	right:0;
	width:auto;
	font-size:13px;
	text-align:right;
	color:#999;
}
.nav li{
	color:#fff;
	font-weight:bold;
	height:32px;
	line-height:32px;
	position:relative;
	margin-left:19px;
	display:block;
	float:left;
}
.nav li>a{
	color:#fff;
	text-decoration:underline;
}
.nav .user,.nav .setting,.nav .more-product{
	font-weight:normal;
}
.nav .more-product{
	width:86px;
	background-color:#398bfb;
	text-align:center;
	text-decoration:none;
}
/*菜单栏2级页面*/
/*用户部分，设置部分*/
.user-hidden,.setting-hidden{
	width:70px;
	position:absolute;
	top:26px;
	left:0;
	padding-top:6px;
	z-index:600;
	text-align:left;
}
.setting-hidden{
	left:-20px;
}
.user-content,.setting-content{
	border:1px solid #fff;
	position:relative;
	box-shadow:1px 1px 5px #d1d1d1;
	-webkit-box-shadow:1px 1px 5px #d1d1d1;
}
.user-content a,.setting-content a{
	color:#000;
	height:25px;
	line-height:25px;
	padding-left:8px;
	background-color:#fff;
	text-align:left;
	display:block;
	font-weight:normal;
}
.user-triangel,.setting-triangel{
	display:block;
	width:0;
	height:0;
	border:5px solid transparent;
	border-bottom-color:#e3e3e3;
	position:absolute;
	left:28px;
	top:-4px;
}
/*更多产品部分*/
.more-product-hidden{
	min-height:600px;
	position:absolute;
	top:0;
	right:0;
	z-index:10;
	border-left:1px solid #e7e7e7;
	background-color:#f9f9f9;
	padding-bottom:999px;
	margin-bottom:-999px;
	overflow:hidden;
}
.more-product-title{
	width:66px;
	height:30px;
	color:#333;
	text-align:center;
	line-height:34px;
	padding-bottom:10px;
	border-bottom:1px solid #f0f0f0;
	font-size:13px;
	cursor:pointer;
	margin:0 auto;
	font-weight:normal;
}
.more-product-content{
	position:relative;
	height:305px;

}
.more-product-content a{
	display:block;
	width:66px;
	height:76px;
	text-align:center;
	margin:0 auto;
	border-bottom:1px solid #f0f0f0;
	color:#666;
	line-height:14px;
	font-weight:normal;
}
.more-product-content em{
	display:block;
	width:36px;
	height:36px;
	margin:10px auto 5px;
}
.more-product-content a:first-child em{
	background:url(../img/product-music.png?__sprite) no-repeat;
	background-size:36px auto;
}
.more-product-content a:nth-child(2) em{
	background:url(../img/product-pic.png?__sprite) no-repeat;
	background-size:36px auto;
}
.more-product-content a:nth-child(3) em{
	background:url(../img/product-know.png?__sprite) no-repeat;
	background-size:36px auto;
}
.more-product-content a:nth-child(4) em{
	background:url(../img/product-article.png?__sprite) no-repeat;
	background-size:36px auto;
}
.more-product-content a:nth-child(5) em{
	background:url(../img/product-num.png?__sprite) no-repeat;
	background-size:36px auto;
}
.more-product-content a:last-child em{
	background:url(../img/product-baidu.png?__sprite) no-repeat;
	background-size:36px auto;
}
.more-product-link{
	width:85px;
	height:30px;
	margin-top:15px;
}
.more-product-link a{
	display:block;
	width:66px;
	height:76px;
	text-align:center;
	margin:0 auto;
	color:#666;
	font-weight:normal;
	border-bottom:0;
}
/*header部分结束*/

/*搜索部分*/
.search{
	position:relative;
	width:641px;
	height:38.2%;
	min-height:293px;
	margin:0 auto;
}
/*上面商标部分*/
.main-logo{
	height:61.8%;
	min-height:181px;
	position:relative;
}
.main-logo img{
	position:absolute;
	bottom:10px;
	left:50%;
	margin-left:-135px;
	width:270px;
	height:129px;
}
/*下面表单部分*/
.main-form,.float-form{
	position:relative;
}
.main-content,.main-button,.float-content,.float-button{
	display:inline-block;
	position:relative;
	vertical-align:top;
	float:left;
}
.main-speak,.float-speak{
	display:block;
	position:absolute;
	top:3px;
	right:41px;
	width:24px;
	height:34px;
	background:url(../img/search-speak.png?__sprite) no-repeat left center;
	background-size:13px 18px;
	cursor:pointer;
}
.main-speak:after,.float-speak:after{
	content:"";
	display:block;
	width:0;
	height:14px;
	border-left:1px solid #e7e7e7;
	margin:10px 0 10px 24px;
}
.main-watch,.float-watch{
	width:18px;
	height:16px;
	display:block;
	position:absolute;
	top:50%;
	right:11px;
	margin-top:-8px;
	background:url(../img/search-watch.png?__sprite) no-repeat;
	cursor:pointer;
}
.main-content input,.float-content input{
	width:450px;
	padding:10px 80px 10px 7px;
	height:20px;
	line-height:20px;
	border:0;
	outline:0;
	box-shadow:0 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.2);
	font-size:16px;
	vertical-align:top;
}
.main-button,.float-button{
	width:104px;
	height:40px;
}
.main-button input{
	width:104px;
	height:40px;
	line-height:40px;
	background:url(../img/search-button.png?__sprite) no-repeat -206px 0;
	color:#000;
	cursor:pointer;
	border:0;
	outline:0;
	font-size:16px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.3);
}
/*浮动搜索栏*/
.float-search{
	width:100%;
	height:74px;
	position:fixed;
	top:0;
	left:0;
	z-index:25;
	background-color:rgba(255,255,255,.95);
	box-shadow:0 0 5px #888;
	-webkit-box-shadow:0 0 5px #888;
	display:none;
}
.float-search-cotainer{
	width:895px;
	height:50px;
	padding-top:9px;
	margin:0 auto;
	text-align:left;
}
.float-logo{
	vertical-align:middle;
	float:left;
	margin-top:5px;
}
.float-logo img{
	width:101px;
}
.float-form{
	display:block;
	margin-left:25px;
	float:left;
}
.float-content input{
	box-shadow:none;
	border:1px solid #b8b8b8;
	border-bottom-color:#ccc;
	border-right-width:0;
}
.float-button input{
	width:104px;
	height:42px;
	background-color:#38f;
	font-size:16px;
	color:#fff;
	box-shadow:none;
	border:0;
}

/*搜索部分结束*/

/*Tab键，切换内容部分*/
.article{
	width:1000px;
	position:relative;
	margin:0 auto;
	text-align:center;
}
/*显示的内容部分*/
.article-content{
	width:895px;
	margin:0 auto;
	position:relative;
	border:1px solid rgba(226,226,226,.65);
}
.article-content:after{
	content:"";
	display:block;
	clear:both;
}
/*article menu部分*/
.article-menu{
	width:100%;
	min-height:35px;
	color:#333;
	border-bottom:1px solid rgba(226,226,226,.65);
	height:39px;
	line-height:39px;
	position:relative;
	text-align:left;
	font-size:14px;
}
.menu-mine{
	cursor:pointer;
	width:124px;
	text-align:left;
	float:left;
}
.menu-mine span{
	display:inline-block;
	vertical-align:top;
}
.mine-icon{
	width:20px;
	height:18px;
	margin:11px 0 0 20px;
	background:url(../img/icon.png?__sprite) no-repeat -15px 0;
	background-position:-46px -55px;
}
.mine-text{
	height:100%;
	margin-left:3px;
}
.menu-other{
	width:721px;
	float:left;
	display:flex;
}
.other-text{
	width:auto;
	vertical-align:top;
	height:100%;
}
.other-text span{
	display:inline-block;
	float:left;
	width:80px;
	cursor:pointer;
	text-align:center;
	vertical-align:top;
	height:100%;
}
.other-blank{
	height:39px;
	flex:auto;
	-webkit-flex:auto;
}
.menu-setting{
	height:39px;
	float:right;
	width:18px;
	cursor:pointer;
	padding:0 21px 0 11px;
	vertical-align:top;
}
.menu-setting span{
	display:block;
	width:100%;
	height:18px;
	background:url(../img/icon.png?__sprite) no-repeat -121px -49px;
	margin-top:11px;
}
/*article 内容部分*/
.article-sections{
	width:895px;
	min-height:363px;
}
.article-sections>div{
	display:none;
}
/*我的关注部分*/
.mine-content{
	height:342px;
	overflow:hidden;
	position:relative;
	padding-bottom:21px;
}
.mine-navgi{
	position:relative;
	width:844px;
	margin:13px auto 10px auto;
	height:30px;
	text-align:left;
	font-size:14px;
	padding-bottom:6px;
	border-bottom:1px solid rgba(240,240,240,.65);
	line-height:30px;
	cursor:pointer;
}
.mine-navgi-icon,.mine-navgi-text,.mine-navgi-num{
	display:inline-block;
	vertical-align:middle;
	height:30px;
	float:left;
}
.mine-navgi-icon{
	height:30px;
	width:10px;
	margin-right:6px;
	position:relative;
}
.mine-navgi-icon em{
	display:block;
	height:0;
	width:0;
	border:5px solid transparent;
	border-left-color:#666;
	position:absolute;
	top:10px;
	left:3px;
}
.mine-navgi-text{
	font-weight:bold;
	margin-right:4px;
}
.mine-navgi-num{
	color:#666;
}
.mine-text-add{
	position:relative;
	height:30px;
	line-height:30px;
	text-align:left;
	margin-top:13px;
	margin-left:25px;
	cursor:pointer;
}
.mine-text-icon{
	display:inline-block;
	vertical-align:middle;
	width:12px;
	height:12px;
	margin-right:6px;
	margin-top:-4px;
	font-size:0;
	background:url(../img/mine-icon.png?__sprite) no-repeat 0 0;
}
.mine-text-text{
	font-size:14px;
	color:#333;
}

/*推荐部分*/
.hot-section{
	width:845px;
	position:relative;
	padding:0 25px;
}
/*推荐右边部分*/
.hot-right{
	width:300px;
	position:absolute;
	top:0;
	right:5px;
	margin-top:20px;
	text-align:left;
}
.hot-right-title{
	width:270px;
	height:30px;
}
.hot-right-title-text{
	display:block;
	float:left;
	width:94px;
	height:22px;
	padding-top:3px;
	font-size:14px;
	font-weight:bold;
	color:#333;
}
.hot-refresh{
	display:right;
	float:right;
	width:60px;
	height:22px;
	padding-top:3px;
	cursor:pointer;
}
.hot-refresh-icon{
	display:inline-block;
	width:20px;
	height:16px;
	background:url(../img/hot-icon.png?__sprite) no-repeat -23px -25px;
	vertical-align:top;
}
.hot-refresh-text{
	display:inline-block;
	vertical-align:top;
	width:40px;
	font-size:13px;
	text-align:center;
	white-space:nowrap;
}
.hot-right ul{
	position:relative;
}
.hot-right li{
	display:inline-block;
	width:145px;
	margin-right:3px;
	float:left;
	font-size:14px;
	height:34px;
	line-height:34px;
}
.hot-right li a{
	display:inline-block;
	vertical-align:middle;
	max-width:113px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	color:#333;
}
.hot-right li span{
	display:inline-block;
	width:18px;
	height:20px;
	margin-left:5px;
	background:url(../img/hot-icon.png?__sprite) no-repeat -57px -98px;
	vertical-align:middle;
}
/*推荐上部分*/
.hot-top{
	width:100%;
	height:38px;
	text-align:left;
}
.hot-left-line,.hot-right-line{
	vertical-align:bottom;
	width:172px;
	height:0;
	border-bottom:1px solid rgba(226,226,226,.65);
	margin-top:30px;
	float:left;
}
.hot-center-title{
	width:187px;
	padding-top:21px;
	margin:0 auto;
	display:inline-block;
	float:left;
}
.hot-center-title-icon{
	display:inline-block;
	vertical-align:middle;
	width:12px;
	height:14px;
	background:url(../img/hot-icon.png?__sprite) no-repeat -45px -1px;
	margin:0 6px;
}
.hot-center-title-text{
	display:inline-block;
	vertical-align:middle;
	font-size:13px;
	color:rgba(0,0,0,.4);
}
/*推荐左边部分*/
.hot-left{
	width:538px;
	float:left;
	text-align:left;
}
.hot-left-section{
	border-bottom:1px solid rgba(226,226,226,.65);
	position:relative;
	min-height:87px;
}
.hot-left-section h2{
	width:100%;
	height:20px;
	padding-top:20px;
	padding-bottom:2px;
	font-size:18px;
	font-weight:normal;
	line-height:20px;
}
.hot-left-section-text{
	width:100%;
	position:relative;
	color:rgba(0,0,0,0.4);
	height:15px;
	line-height:15px;
	font-size:13px;
	padding-top:11px;
	padding-bottom:19px;
}
.hot-src,.hot-time{
	margin-right:6px;
	color:rgba(0,0,0,0.4);
	line-height:15px;
	font-size:13px;
}
.hot-point{
	color:#f13f40;
	border:1px solid #efb9b9;
	font-size:12px;
	line-height:12px;
	padding:0 2px;
	border-radius:3px;
	-webkit-border-radius:3px;
}

/*导航部分*/
.navgi-section{
	position:relative;
	padding:10px 0 13px 25px;
}
.navgi-two,.navgi-three,.navgi-four,.navgi-five{
	margin-top:-7px;
}
.navgi-one h1,.navgi-two h1,.navgi-three h1,.navgi-four h1,.navgi-five h1{
	margin:8px 0 4px;
	padding:0;
	font-size:14px;
	text-align:left;
}
.navgi-one-content,.navgi-two-content,.navgi-three-content,.navgi-four-content
,.navgi-five-content{
	display:inline-block;
	float:left;
	margin-top:15px;
	margin-right:15px;
	position:relative;
}
.one-content-text{
	width:128px;
	height:60px;
	line-height:58px;
	position:relative;
	background-color:#fcfcfc;
}
.one-content-text img{
	width:16px;
	height:16px;
	position:absolute;
	left:20px;
	top:50%;
	margin-top:-8px;
}
.one-content-text span{
	display:inline-block;
	position:absolute;
	left:44px;
	text-align:left;
	color:#333;
	font-size:14px;
	max-width:71px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.one-content-fanli,.four-content-fanli{
	position:absolute;
	top:0;
	right:0;
	width:16px;
	height:16px;
	background:url(../img/navgi-fanli.png?__sprite) no-repeat 0 0;
}
.one-content-rebate,.four-content-rebate{
	width:100%;
	height:18px;
	line-height:18px;
	position:absolute;
	left:0;
	bottom:0;
	font-size:12px;
	text-align:center;
	color:#fff;
	background-color:#ff8300;
	text-decoration:underline;
	display:none;
}
.navgi-two h1,.navgi-three h1,.navgi-four h1,.navgi-five h1{
	padding-top:25px;
}
.navgi-two-content,.navgi-three-content{
	width:130px;
	height:69px;
	line-height:69px;
	position:relative;
	background-color:#fcfcfc;
	float:left;
}
.navgi-two-content img,.navgi-three-content img,.four-content-text img
,.navgi-five-content img{
	width:115px;
	height:70px;
	position:absolute;
	left:5px;
	top:-2px;
}
.four-content-text,.navgi-five-content{
	width:128px;
	height:69px;
	background-color:#fcfcfc;
	position:relative;
}

/*视频部分*/
.video-section{
	padding-left:5px;
}
.video-big{
	width:195px;
	height:320px;
	float:left;
	margin:25px 0 25px 20px;
	overflow:hidden;
	position:relative;
	text-align:left;
	cursor:pointer;
}
.video-big-img{
	width:195px;
	height:270px;
	position:relative;
	overflow:hidden;
}
.video-big-img img{
	width:195px;	
}
.video-hover-delete{
	width:18px;
	height:18px;
	background:url(../img/video-hover.png?__sprite) no-repeat -48px -2px;
	position:absolute;
	top:5px;
	right:5px;
	display:none;
}
.video-hover-star{
	width:18px;
	height:18px;
	background:url(../img/video-hover.png?__sprite) no-repeat -4px -2px;
	position:absolute;
	top:5px;
	right:30px;
	display:none;
}
.video-title{
	width:42px;
	height:42px;
	position:absolute;
	top:0;
	right:0;
	background:url(../img/video-title.png?__sprite) no-repeat -126px 0;
}
.video-num{
	width:195px;
	height:40px;
	position:absolute;
	left:0;
	bottom:0;
	background:linear-gradient(to bottom,  rgba(0,0,0,0) 0,rgba(0,0,0,0.5) 100%);
	background:-webkit-linear-gradient
	(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.5) 100%);
}
.video-num span{
	font-size:12px;
	color:#fff;
	position:absolute;
	right:5px;
	bottom:5px;
}
.video-big-text{
	width:175px;
	height:49px;
	padding:0 9px;
	border:1px solid rgba(240,240,240,.65);
	border-top:0;
	background:rgba(243, 243, 243, .65);
}
.video-name{
	padding-top:6px;
	height:14px;
	font-size:14px;
	color:#333;
	text-align:left;
}
.video-score{
	font-size:13px;
	color:#999;
	margin-top:6px;
}
.video-star{
	display:inline-block;
	width:65px;
	height:13px;
	background:url(../img/video-star.png?__sprite) repeat-x;
	vertical-align:middle;
	margin-bottom:4px;
	margin-right:5px;
	position:relative;
}
.video-star em{
	display:block;
	position:absolute;
	top:0;
	left:0;
	height:13px;
	width:38.35px;
	background:url(../img/video-star.png?__sprite) repeat-x 0 -13px;
	vertical-align:middle;
	margin-bottom:4px;
}

/*购物部分*/
.shopping-content{
	margin-left:27px;
}
.shopping-section1{
	margin-right:20px;
	width:195px;
	float:left;
	margin-top:21px;
	height:312px;
	cursor:pointer;
}
.shopping-img{
	width:193px;
	height:193px;
	position:relative;
	border:1px solid #f0f0f0;
}
.shopping-img img{
	width:193px;
	height:193px;
}
.shopping-text{
	margin-top:7px;
}
.shopping-title{
	font-size:14px;
	height:42px;
	margin-top:10.5px;
	color:rgb(51,51,51);
	line-height:21px;
	text-align:left;
}
.shopping-price{
	margin-top:9px;
	padding-bottom:6px;
	color:#666;
}
.shopping-price-now{
	float:left;
	margin-right:5px;
	font-size:20px;
}
.shopping-price-old{
	float:left;
	font-size:14px;
	color:#999;
	margin-top:8px;
	text-decoration:line-through;
}
.shopping-fanli-price{
	float:left;
	margin-right:8px;
	color:#ff4800;
	font-size:18px;
}
.shopping-fanli-baifenbi{
	float:left;
	border:1px solid #ff4800;
	color:#ff4800;
	padding:1px 3px;
	font-size:12px;
	border-radius:2px;
	-webkit-border-radius:2px;
}
.shopping-fanli-src{
	float:right;
	font-size:12px;
	color:#999;
	border:1px solid #a4a4a4;
	padding:0 2px;
	margin-top:1px;
	border-radius:2px;
	-webkit-border-radius:2px;
}

/*返回顶层按键*/
.article-top-btn{
	width:40px;
	height:28px;
	position:fixed;
	left:50%;
	margin-left:447px;
	bottom:30px;
	margin:0 0 6px 457px;
	background-color:rgba(0,0,0,0.3);
	padding-top:12px;
	cursor:pointer;
	display:none;
}
.article-top-btn span{
	display:inline-block;
	width:33px;
	height:17px;
	background:url(../img/top-btn.png?__sprite) no-repeat -2px -10px;
	margin:0 auto;
}

/*换肤页面*/
.skin{
	width:100%;
	height:309px;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	background-color:#fff;
	box-shadow:0 0 2px 2px rgba(0,0,0,0.07);
	-webkit-box-shadow:0 0 2px 2px rgba(0,0,0,0.07);
	display:none;
}
.skin-line{
	width:100%;
	height:261px;
	position:absolute;
	top:46px;
	left:0;
	z-index:-1;
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
}
.skin-container{
	width:911px;
	margin:0 auto;
	overflow:hidden;
}

/*换肤菜单栏部分*/
.skin-menu{
	height:46px;
}
.skin-menu ul{
	height:46px;
	float:left;
}
.skin-menu li{
	padding:0 8px;
	cursor:pointer;
	height:27px;
	font-size:13px;
	float:left;
	color:#666;
	padding-top:19px;
}
.skin-menu li:nth-child(9) div{
	margin-top:1px;
	width:1px;
	height:15px;
	background-color:#dedede;
}
.skin-setting{
	float:right;
	margin-top:19px;
}
.skin-opacity{
	color:#666;
	float:left;
	width:160px;
	position:relative;
}
.opacity-title{
	font-size:13px;
	margin-right:10px;
	float:left;
}
.opacity-content-box{
	position:relative;
	width:80px;
	margin:0;
	float:left;
}
.opacity-content{
	width:80px;
	height:4px;
	display:inline-block;
	border-top:1px solid #e1e1e1;
	background-color:#f2f2f2;
	font-size:0;
	cursor:pointer;
}
.skin-opacity em{
	display:block;
	font-size:13px;
	height:14px;
	line-height:14px;
	text-align:center;
	position:absolute;
	top:-13px;
	color:#666;
	cursor:default;
}
.skin-delete{
	width:87px;
	cursor:pointer;
	float:left;
	margin-left:30px;
}
.skin-delete-icon{
	display:inline-block;
	width:14px;
	height:13px;
	vertical-align:middle;
	background:url(../img/skin-icon.png?__sprite) no-repeat;
	background-position:-24px -176px;
}
.skin-delete-text{
	font-size:13px;
	color:#666;
	margin-left:3px;
	display:inline-block;
	vertical-align:middle;
}
#skin-close{
	float:left;
	width:40px;
	cursor:pointer;
	margin-left:25px;
	color:#0079f5;
	font-size:13px;
}
.skin-close-icon{
	display:inline-block;
	width:11px;
	height:15px;
	background:url(../img/skin-icon.png?__sprite) no-repeat;
	background-position:-44px -175px;
	margin-right:3px;
	margin-top:1px;
	vertical-align:middle;
	float:left;
}
.skin-close-text{
	display:inline-block;
	vertical-align:middle;
	float:left;
}

/*换肤内容部分*/
.skin-content{
	height:215px;
	position:relative;
}
.skin-directory{
	height:46px;
	line-height:46px;
	font-size:13px;
	color:#666;
	text-align:left;
}
.skin-img{
	width:585px;
	height:179px;
	float:left;
	position:relative;
	display:none;
}
.skin-img ul{
	position:relative;
}
.skin-img li{
	cursor:pointer;
	width:97px;
	height:59px;
	position:absolute;
}
.skin-img li img{
	width:97px;
	height:59px;
}
.skin-img .skin-big-img{
	width:195px;
	height:119px;
}
.skin-img .skin-big-img img{
	width:195px;
	height:119px;
}
.skin-img li:first-child{
	top:0;
	left:0;
}
.skin-img li:nth-child(2){
	top:120px;
	left:0;
}
.skin-img li:nth-child(3){
	top:120px;
	left:98px;
}
.skin-img li:nth-child(4){
	top:0;
	left:196px;
}
.skin-img li:nth-child(5){
	top:60px;
	left:196px;
}
.skin-img li:nth-child(6){
	top:120px;
	left:196px;
}
.skin-img li:nth-child(7){
	top:0;
	left:294px;
}
.skin-img li:nth-child(8){
	top:0;
	left:392px;
}
.skin-img li:nth-child(9){
	top:60px;
	left:294px;
}
.skin-img li:nth-child(10){
	top:0;
	left:490px;
}
.skin-img li:nth-child(11){
	top:60px;
	left:490px;
}
.skin-img li:last-child{
	top:120px;
	left:490px;
}
.skin-sure{
	width:18px;
	height:18px;
	position:absolute;
	bottom:4px;
	right:4px;
	background:url(../img/skin/skin-sure.png?__sprite) no-repeat -180px 0;
	display:none;
}
.skin-preview{
	float:right;
	width:294px;
}
.preview-bg{
	float:right;
	width:264px;
	height:180px;
	position:relative;
	background:url(../img/skin/skin-no-bg.png?__sprite) no-repeat -275px 0;
}
.preview-bg .img{
	width:260px;
	height:163px;
	position:absolute;
	top:15px;
	left:2px;
}
.preview-bg-search{
	width:264px;
	height:180px;
	float:right;
	position:absolute;
	top:0;
	left:0;
	background:url(../img/skin/skin-no-bg.png?__sprite) no-repeat 0 0;
	display:none;
}
.skin-preview p{
	float:right;
	margin-top:7px;
	width:262px;
	text-align:center;
	font-size:12px;
	color:#666;
}