/*整体*/
.aside{
	width:210px;
	float:left;
}
.aside a{
	text-decoration:none;
}

/*上部分样式*/
.as-project{
	margin:0;
	border:1px solid #35b558;
	background-color:#fff;
}
.as-head{
	height:45px;
	padding:0 32px;
	border-bottom:1px solid #eee;
	line-height:45px;
	position:relative;
	font-size:14px;
	font-weight:400;
}
.as-head a{
	color:#35b558;
}
.as-head a i{
	display:block;
	width:15px;
	height:15px;
	background:url(../images/article/as-head.png) no-repeat 0 0;
	background-size:15px 15px;
	position:absolute;
	margin-top:14px;
	margin-left:-20px;
}
.as-body ul{
	position:relative;
	width:208px;
}
.as-body li{
	width:208px;
	height:37px;
	cursor:pointer;
	border-bottom:1px solid #f5f5f5;
	background:url(../images/article/as-next.png) no-repeat 186px center;
	background-size:6px 10px;
	padding-left:32px;
}
.as-body li>a{
	color:#666;
	font-size:12px;
	line-height:36px;
}
.as-body li>a.as-beauty{
	display:block;
	width:209px;
	height:38px;
	border:1px solid #ddd;
	border-right:1px solid #fff;
	padding-left:24px;
	margin-top:-1px;
	margin-left:-33px;
	position:absolute;
	z-index:1000;
	background:#fff;
	color:rgb(53, 181, 88) !important;
}
.as-outer{
	display:none;
	width:402px;
	box-shadow:1px 2px 4px rgba(0,0,0,.1);
	-webkit-box-shadow:1px 2px 4px rgba(0,0,0,.1);
	-moz-box-shadow:1px 2px 4px rgba(0,0,0,.1);
	overflow:hidden;
	min-width:401px;
	min-height:417px;
	background-color:#fff;
	border:1px solid #ddd;
	position:absolute;
	left:208px;
	top:-47px;
	z-index:666;
	margin-left:-1px;
	padding-bottom:30px;
	float:left;
}
.as-inner{
	width:400px;
}
.as-inner dl{
	margin:0 15px;
	overflow:hidden;
}
.as-inner dt{
	display:block;
	height:37px;
	line-height:45px;
	border-bottom:1px solid #f5f5f5;
}
.as-inner dt>a{
	color:#333;
	font-weight:500;
	font-size:13px;
}
.as-inner dd{
	list-style:none;
	margin-left:-8px;
	padding:3px 0;
}
.as-inner dd a{
	height:14px;
	line-height:14px;
	margin-top:5px;
	margin-bottom:10px;
	padding:0 7px;
	color:#666;
	display:inline-block;
	font-size:12px;
	border-left:1px solid #e0e0e0;
	float:left;
	font-weight:400;
	white-space:nowrap;
}

/*下部分样式*/
.as-list{
	width:100%;
	background-color:#fff;
}
.as-list li{
	height:45px;
}
.as-list li.as-check a{
	color:#35b558;
	background:url(../images/article/check.png) no-repeat 160px center;
	background-size:40px 10px;
}
.as-list a{
	display:block;
	width:100%;
	height:45px;
	line-height:45px;
	color:#333;
	font-size:14px;
	padding-left:10px;
}
.as-list i{
	display:inline-block;
	width:25px;
	height:15px;
	margin-right:8px;
	vertical-align:text-bottom;
}
.as-list i.one{
	background:url(../images/article/one.png) no-repeat left center;
	background-size:15px 14px;
}
.as-list i.two{
	background:url(../images/article/two.png) no-repeat left center;
	background-size:15px;
}
.as-list i.three{
	background:url(../images/article/three.png) no-repeat left center;
	background-size:14px 14px;
}
.as-list i.four{
	background:url(../images/article/four.png) no-repeat left center;
	background-size:15px 13px;
}