/*整体样式*/
.head{
	height:60px;
	border-bottom:1px solid #ececec;
	background:#fff;
}
.header{
	width:1000px;
	margin:0 auto;
	line-height:60px;
	position:relative;
}
.header div,.header ul,.header img,.header li,.header a,
.header h3,.header span,.header i{
	white-space:nowrap;
	text-decoration:none;
	vertical-align:middle;
}

/*LOGO商标部分*/
.logo{
	display:inline-block;
	width:109px;
	height:60px;
	margin-right:60px;
	float:left;
}
.logo img{
	width:109px;
	border:0;
	float:left;
	margin-top:10px;
}

/*nav菜单栏部分*/
.h-nav{
	height:60px;
	float:left;
}
.h-nav li{
	position:relative;
	font-size:14px;
	display:inline-block;
	margin-right:50px;
	cursor:pointer;
	height:60px;
	float:left;
	z-index:1300;
}
.h-nav a{
	color:#333;
}
.h-nav-icon{
	margin-bottom:2px;
	margin-left:5px;
	width:8px;
	height:8px;
	border-top:1px solid #c1c1c1;
	border-left:1px solid #c1c1c1;
	display:inline-block;
	transform:rotate(-135deg);
	-webkit-transform:rotate(-135deg);
	-moz-transform:rotate(-135deg);
	-ms-transform:rotate(-135deg);
	transform-origin:4px 4px;
}
.h-nav .h-nav-rotate{
	-webkit-animation:animations 1s ease-out forwards;
	-moz-animation:animations 1s ease-out forwards;
	-ms-animation:animations 1s ease-out forwards;
	animation:animations 1s ease-out forwards;
}
@-webkit-keyframes animations{
	0%{
		-webkit-transform:rotate(-135deg);
		-moz-transform:rotate(-135deg);
		-ms-transform:rotate(-135deg);
		transform:rotate(-135deg);
	}
	95%{
		-webkit-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		transform:rotate(360deg);
	}
	100%{
		-webkit-transform:rotate(405deg);
		-moz-transform:rotate(405deg);
		-ms-transform:rotate(405deg);
		transform:rotate(405deg);
	}
}
@-moz-keyframes animations{
	0%{
		-webkit-transform:rotate(-135deg);
		-moz-transform:rotate(-135deg);
		-ms-transform:rotate(-135deg);
		transform:rotate(-135deg);
	}
	95%{
		-webkit-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		transform:rotate(360deg);
	}
	100%{
		-webkit-transform:rotate(405deg);
		-moz-transform:rotate(405deg);
		-ms-transform:rotate(405deg);
		transform:rotate(405deg);
	}
}
@keyframes animations{
	0%{
		-webkit-transform:rotate(-135deg);
		-moz-transform:rotate(-135deg);
		-ms-transform:rotate(-135deg);
		transform:rotate(-135deg);
	}
	95%{
		-webkit-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		transform:rotate(360deg);
	}
	100%{
		-webkit-transform:rotate(405deg);
		-moz-transform:rotate(405deg);
		-ms-transform:rotate(405deg);
		transform:rotate(405deg);
	}
}
.h-nav li i{
	margin-left:5px;
}

/*nav菜单栏部分2级页面*/
.h-second{
	position:absolute;
	top:60px;
	left:0;
	background-color:#fff;
	font-size:12px;
	color:#666;
	width:280px;
	display:none;
	z-index:1100;
}
.h-second h3{
	margin:10px 0;
	padding:0 15px;
	background-color:#fafafa;
	height:28px;
	line-height:28px;
	font-weight:300;
}
.h-second a{
	display:block;
	height:30px;
	line-height:30px;
	padding:0 15px;
	white-space:normal;
}
/*职业学院2级页面*/
.h-nav-two i,.h-nav-three i{
	display:inline-block;
	width:14px;
	height:14px;
	background:url(../images/head/nav-second1.png) no-repeat 0 0;
	background-size:64px 64px;
	margin-right:10px !important;
}
.h-nav-two i.one {
	background-position:-15px -27px;
}
.h-nav-two i.two,.h-nav-two i.three,.h-nav-two i.four,.h-nav-two i.six{
	background:url(../images/head/nav-second2.png) no-repeat 0 0;
	background-size:16px 148px;
}
.h-nav-two i.two{
	background-position:-2px -60px;
}
.h-nav-two i.three{
	background-position:-2px -2px;
}
.h-nav-two i.four{
	background-position:-2px -38px;
}
.h-nav-two i.five{
	background-position:-45px -14px;
}
.h-nav-two i.six{
	background-position:-2px -82px;
}
/*会员课程*/
.h-tabin {
	color:rgb(53, 181, 88) !important;
}
.h-tabin i.h-nav-icon{
	border-color:rgb(53, 181, 88);
}
.h-nav-three{
	padding:10px 0;
	clear:both;
}
.h-nav-three a{
	height:40px;
	line-height:40px;
	display:block;
	color:#666;
}
.h-nav-three i.one {
	background-position:0 -13px;
}
.h-nav-three span{
	color:#bbb;
	float:right;
}
.h-nav-three i.two{
	background-position:-45px 0;
}
.h-nav-three i.three{
	background-position:-30px -13px;
}
.h-nav-three i.four{
	background:url(../images/head/nav-second3.png) no-repeat 0 0;
	background-size:12px 12px;
}
.h-nav-three i.five{
	background-position:-15px -13px;
}
.h-nav-three i.six{
	background-position:-16px 0;
}
/*极客社区*/
.h-nav ul li:last-child{
	margin-right:0;
}
.h-nav-four i.one{
	background-position:0 -27px;
}
.h-nav-four i.two{
	background-position:-29px -27px;
}
.h-nav-four i.three{
	background-position:0 2px;
}
.h-nav-five i.four{
	background-position:-30px 0;
}

/*右边icon图标部分*/
.h-icon{
	width:200px;
	height:60px;
	float:right;
	text-align:right;
	margin-right:10px;
}
.h-icon span{
	display:inline-block;
	width:17px;
	height:60px;
	margin-left:25px;
	cursor:pointer;	
}
/*搜索部分*/
.h-search{
	background-image:url(../images/head/icon1.png);
	background-repeat:no-repeat;
	background-position:0 50%;
	background-size:17px 17px;
}
/*手机二维图部分*/
.h-app{
	background-image:url(../images/head/app-icon.png);
	background-repeat:no-repeat;
	background-position:0 50%;
	background-size:17px;
	position:relative;
}
.h-app div{
	position:absolute;
	width:120px;
	background:#fff;
	z-index:120;
	top:58px;
	right:-50px;
	display:none;
}
.h-app div i{
	display:inline-block;
	width:15px;
	height:15px;
	background-color:#fff;
	border-top:1px solid #ececec;
	border-left:1px solid #ececec;
	position:absolute;
	top:-8px;
	right:50px;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
}
.h-app div img{
	width:100%;
	border:0;
}
/*会员信息部分*/
.h-icon .h-customer{
	width:25px;
	height:60px;
	cursor:pointer;
	position:relative;
}
.h-customer img{
	width:25px;
	height:25px;
	display:block;
	margin-top:14px;
	border-radius:50%;
	border:1px solid #ddd;
	overflow:hidden;
}
.h-customer-icon{
	display:inline-block;
	width:13px;
	height:13px;
	position:absolute;
	top:28px;
	left:15px;
	background:url(../images/head/customer.png) no-repeat -1px -32px;
	background-size:64px 64px;
}
.h-customer dl{
	width:120px;
	padding:10px 0;
	background:#fff;
	position:absolute;
	top:58px;
	right:-10px;
	z-index:1100;
	display:none;
	border-bottom:1px solid #f0f0f0;
}
.h-customer dl .one{
	margin-right:5px;
	width:15px;
	height:15px;
	display:inline-block;
	background-color:#fff;
	position:absolute;
	top:-8px;
	right:10px;
	border-top:1px solid #ececec;
	border-left:1px solid #ececec;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
}
.h-customer dd{
	margin:0;
	padding-left:10px;
	text-align:left;
	font-size:12px;
	line-height:35px;
	vertical-align:middle;
}
.h-customer dd a{
	color:#666;
	line-height:35px;
}
.h-customer .no-vip{
	display:inline-block;
	width:45px;
	height:14px;
	margin-right:10px;
	background:url(../images/head/no-vip.png) no-repeat;
	background-size:45px 14px;
}
.h-customer .yes-vip{
	display:inline-block;
	width:45px;
	height:14px;
	background:url(../images/head/yes-vip.png) no-repeat -143px -1px;
	background-size:306px 16px;
}
.h-customer dd i{
	display:inline-block;
	width:12px;
	height:12px;
	margin-right:10px;
	background:url(../images/head/customer.png) no-repeat;
	background-size:64px 64px;
}
.h-customer dd .two{
	background-position:-16px -15px;
}
.h-customer dd .three{
	background-position:-45px -1px;
}
.h-customer dd .four{
	background-position:-16px -30px;
}
.h-customer dd em{
	padding-left:10px;
}
.h-customer dd .five{
	background-position:-30px -1px;
}
.h-customer dd .six{
	background-position:-16px -1px;
}