/*重置*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei"
	,Helvetica,arial,\5b8b\4f53,sans-serif;
}
body{
	background:#f5f5f5;
}
ul,li{
	list-style:none;
}
i,em{
	font-style:normal;
}

/*整体布局*/
.wrapper{
	min-width:1000px;
	max-width:1400px;
	height:auto;
}

/*文本部分*/
.article{
	width:1000px;
	margin:0 auto;
	margin-top:20px;
	clear:both;
}
.article:after{
	content:"";
	display:block;
	clear:both;
}
.main{
	width:776px;
	float:right;
	color:#666;
	font-size:12px;
	line-height:1.5;
}

/*文本头部样式*/
.a-head{
	position:relative;
	box-sizing:content-box;
	height:38px;
	line-height:38px;
	background:#fff;
	color:gray;
}
/*文本头部左边样式*/
.a-head-left{
	height:38px;
	float:left;
}
.a-head-left h3{
	float:left;
	padding:0 21px;
	background:#fff;
	border-right:1px solid #f5f5f5;
	font-size:12px;
	font-weight:400;
}
.a-head-left .dt{
	padding:0 18px;
	position:relative;
	float:left;
	margin:0 1px 0 -1px;
	white-space:nowrap;
	z-index:1200;
}
.a-head-left .shadow{
	-webkit-box-shadow:1px 3px 4px rgba(0,0,0,.2);
	-moz-box-shadow:1px 3px 4px rgba(0,0,0,.2);
	-ms-box-shadow:1px 3px 4px rgba(0,0,0,.2);
	box-shadow:1px 3px 4px rgba(0,0,0,.2);
	background-color:#fff;
	display:block;
}
.a-head-left .dt i{
	display:inline-block;
	position:relative;
	margin-left:5px;
}
.a-head-left .dt i:before{
	content:"";
	display:block;
	width:0;
	height:0;
	border:5px solid transparent;
	border-top:5px solid gray;
	border-bottom-width:0;
}
.a-head-left .dt i:after{
	content:"";
	display:block;
	width:0;
	height:0;
	position:absolute;
	top:-1px;
	left:1px;
	border:4px solid transparent;
	border-top:4px solid #fff;
}
.a-head-left .dd{
	z-index:1200;
	position:absolute;
	background:#fff;
	width:100%;
	display:none;
	top:36px;
	left:0;
}
.a-head-left .dd a{
	display:block;
	padding:0 32px 0 17px;
	font-weight:500;
	color:gray;
	text-decoration:none;
}
/*文本头部右边样式*/
.a-head-right{
	float:right;
}
.a-head-right li{
	width:36px;
	height:38px;
	position:relative;
	float:left;
	border-left:1px solid #f5f5f5;
	line-height:36px;
	text-align:center;
	cursor:pointer;
}
.a-head-right li i{
	display:inline-block;
	height:14px;
	vertical-align:middle;
	position:relative;
	top:-1px;
}
.a-head-right li i.one{
	background:url(../images/article/a-head1.png) no-repeat 0 0;
	width:14px;
	background-size:14px;
}
.a-head-right li i.two{
	background:url(../images/article/a-head2.png) no-repeat center;
	width:19px;
	background-size:16px 12px;
}

/*文本主要内容*/
.lesson{
	overflow:hidden;
}
.lesson ul{
	margin-top:15px;
	width:789px;
}
.lesson ul li{
	width:250px;
	height:225px;
	margin-right:13px;
	margin-bottom:13px;
	float:left;
}
.lesson ul.crossrange li{
	width:776px;
	height:100px;
	padding:0;
	background-color:#fff;
	margin-bottom:13px;
}
.lesson-img{
	width:100%;
	height:135px;
	position:relative;
}
ul.crossrange .lesson-img{
	width:185px;
	height:100px;
	float:left;
	margin-right:15px;
	position:relative;
}
.love{
	width:16px;
	height:16px;
	background:url(../images/article/love.png) no-repeat;
	background-size:16px 16px;
	z-index:101;
	cursor:pointer;
	position:absolute;
	top:10px;
	left:10px;
	display:none;
}
.lesson-img a img{
	width:100%;
	height:135px;
	vertical-align:middle;
	border:0;
}
ul.crossrange .lesson-img a img{
	width:185px;
	height:100px;
	vertical-align:middle;
	border:0;
	position:absolute;
	z-index:500;
}
.lesson-play{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.4);
	z-index:100;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	z-index:520;
}
.lesson-play i{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-25px;
	margin-left:-25px;
	z-index:530;
	background:url(../images/article/play.png) no-repeat 0 0;
	background-size:50px 50px;
	cursor:pointer;
}
.lesson-text{
	padding:10px;
	position:relative;
	background:#fff;
	z-index:200;
	min-height:88px;
}
ul.crossrange .lesson-text{
	width:566px;
	min-height:88px;
	position:relative;
	float:left;
	padding:0;
}
.lesson-text h2{
	font-size:14px;
	color:#333;
	height:36px;
	line-height:18px;
	margin-bottom:12px;
	font-weight:400;
}
ul.crossrange .lesson-text h2{
	font-size:14px;
	color:#333;
	margin-top:5px;
	margin-bottom:5px;
	font-weight:400;
	line-height:21px;
	height:21px;
}
.lesson-text h2 a{
	color:#333;
	text-decoration:none;
}
.lesson-text p{
	color:gray;
	font-size:12px;
	line-height:18px;
	margin-bottom:40px;
	display:none;
}
ul.crossrange .lesson-text p{
	display:block;
	height:36px;
	margin-bottom:10px;
}
.lesson-time{
	font-size:12px;
	color:gray;
	position:relative;
}
ul.crossrange .lesson-time{
	height:26px;
}
ul.crossrange .lesson-cf{
	height:26px;
	margin-top:-3px;
}
.lesson-cf:after{
	content:"";
	clear:both;
	display:block;
	height:0;
}
.lesson-cf dl{
	width:120px;
	float:left;
	white-space:nowrap;
}
.lesson-cf .study{
	float:right;
	display:none;
}
ul.crossrange .lesson-cf .study{
	display:block;
}
.lesson-cf dd{
	font-size:12px;
	float:left;
	display:inline-block;
	margin-right:15px;
}
.lesson-show{
	margin-bottom:8px;
}
.lesson-show i{
	display:block;
	width:14px;
	height:14px;
	background:url(../images/article/lesson-time.png) no-repeat 0 0;
	float:left;
	margin-right:8px;
	background-size:14px 14px;
}
.lesson-cf .lesson-hide{
	display:none;
}
ul.crosrange .lesson-cf .lesson-hide{
	display:block;
}
.lesson-hide i{
	display:block;
	width:14px;
	height:14px;
	background:url(../images/article/lesson-hide.png) no-repeat 0 0;
	background-size:14px 14px;
	float:left;
	margin-right:8px;
}
.lesson-wind a{
	text-align:right;
	position:absolute;
	bottom:4px;
	right:0;
	display:inline-block;
	width:16px;
	height:16px;
	margin-left:3px;
}
ul.crossrange .lesson-wind a{
	top:-70px;
}
.lesson-wind a img{
	width:16px;
	height:16px;
	border:0;
	vertical-align:middle;
}
/*文本脚步菜单栏*/
.a-footer{
	height:28px;
	margin-top:17px;
	text-align:center;
}
.a-footer ul{
	padding:0;
	margin:10px 0 5px;
	text-transform:uppercase;
	font-size:12px;
}
.a-footer li{
	display:inline-block;
	width:32px;
	height:32px;
	margin-left:5px;
	line-height:30px;
	border:1px solid #ececec;
	text-align:center;
	color:gray;
	background-color:#fff;
	float:left;
}
.a-footer li.a-page{
	width:50px;
}
.a-footer li.a-next{
	width:50px;
	border:1px solid #f0f0f0;
	color:#d9d6c3;
}
.a-footer li:nth-child(2){
	width:72px;
}
.a-footer .a-current{
	color:#fff;
	background:#35b558;
	border:1px solid #35b558;
}
.a-footer .a-point{
	color:#000;
	background:none !important;
	margin-top:3px;
	border:0;
}
.a-footer .a-total{
	width:70px;
}
.a-footer .a-now{
	width:100px;
}
.a-now input{
	width:35px;
	height:22px;
	background-color:#fff;
	border:1px solid #e4e4e4;
	color:#666;
	line-height:22px;
	margin:-3px 10px 0 10px;
	vertical-align:middle;
	padding-left:10px;
	padding-top:2px;
	outline:0;
}
.a-footer li.a-go{
	width:32px;
	height:22px;
	line-height:22px;
	margin-top:6px;
}

/*屏幕右边浮动图标*/
.go-top{
	width:34px;
	position:fixed;
	left:50%;
	margin-left:510px;
	bottom:84px;
	z-index:2000;
	text-align:center;
}
#screen-top{
	display:block;
	width:34px;
	height:34px;
	background-image:url(../images/gotop.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:34px 103px;
}
.go-top a{
	display:block;
	width:34px;
	height:35px;
	position:relative;
	background:#f7f7f7 url(../images/phone.png) no-repeat center center;
	background-size:12px 24px;
	border-bottom:1px solid #e0e0e0;
	cursor:pointer;
}
.go-top a div{
	width:126px;
	height:159px;
	background:url(../images/jike.png) no-repeat center center;
	background-size:100%;
	position:absolute;
	left:-126px;
	top:-70px;
	z-index:2100;
	display:none;
}