body,div,ul,li,p{
	margin:0;
	padding:0;
}
ul,li{
	list-style:none;
}
body{
	background-color:#0c9;
	font-family:"微软雅黑";
}
.wrapper{
	width:1000px;
	margin:0 auto;
}
h1{
	text-align:center;
}
.nav{
	height:50px;
	display:flex;
	display:-webkit-flex;
}
span{
	display:inline-block;
	flex-grow:1;
	-webkit-flex-grow:1;
	text-align:center;
	line-height:50px;
	font-size:28px;
	background-color:rgba(0,0,0,0.1);
}
span:hover{
	background-color:rgba(0,0,0,0.5);
	color:#fff;
}
ul{
	display:none;
}
.question{
	font-size:24px;
	background-color:#fff;
	border:1px solid gray;
	padding-left:15px;
	color:#666;
}
.answer{
	font-size:18px;
	padding:0 15px;
	color:#333;
	display:none;
}
li:hover .answer{
	display:block;
}