/*reset*/
body,
div,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
.wrapper {
  width: 1000px;
  height: 650px;
  border-radius: 6px;
  border: 2px solid gray;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  overflow: hidden;
}
.wrapper .header {
  width: 100%;
  height: 200px;
  clear: both;
}
.wrapper .article {
  width: 100%;
  height: 350px;
  margin-top: 20px;
  position: relative;
}
.wrapper .footer {
  width: 100%;
  height: 100px;
  position: relative;
}
.header .top {
  width: 100%;
  height: 170px;
}
.header .top .left {
  width: 30%;
  float: left;
  height: 100%;
  background-color: red;
  color: white;
  font-size: 130px;
  text-align: center;
  font-weight: bold;
}
.header .top .right {
  width: 60%;
  height: 100%;
  float: left;
  font-size: 40px;
  text-align: center;
  line-height: 80px;
}
.header .top .right .orign {
  color: green;
}
.header .top .right .position {
  color: red;
}
.header .time {
  width: 100%;
  height: 30px;
  text-align: left;
  font-size: 25px;
  padding: 11px;
}
.article .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  color: #00e600;
  font-size: 280px;
  font-weight: bold;
  text-align: center;
}
.article ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clear: both;
}
.article ul li {
  float: left;
  width: 58px;
  font-size: 40px;
  color: white;
  text-align: center;
}
.footer .text {
  position: absolute;
  font-size: 20px;
  z-index: 10;
  left: 260px;
  top: -8px;
}
.footer .direction {
  padding: 20px;
  clear: both;
  position: relative;
  margin-top: 20px;
}
.footer .direction span {
  display: block;
}
.footer .direction .line {
  width: 800px;
  height: 20px;
  float: left;
  background-color: red;
}
.footer .direction .triangel {
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-left-width: 80px;
  border-right-width: 80px;
  border-left-color: red;
  float: left;
  margin-top: -20px;
}
.footer .direction .white {
  position: absolute;
  right: 101px;
  bottom: -40px;
  width: 99px;
  height: 40px;
  background-color: white;
}
